{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block head_title %} My Django Project {% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>{% trans "Welcome to my Blog" %}</h1>
    <p>{% blocktrans %}
    This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    {% endblocktrans %}
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2 id="local-date">{{ today }}</h2>
      <p>This is the time according to your location</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2 id="non-local-date">{{ today|unlocalize }}</h2>
      <p>This is The unlocalized time. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Time Zones</h2>
	    <p> Barcelona: <span id="time-tz">{{ now|time:"H:i" }}</span></p>
	    <p> UTC: <span id="time-utc">{{ now|utc|time:"H:i" }}</span></p>
	    <p> New York: <span id="time-ny"> 
       			{{ now|timezone:"America/New_York"|time:"H:i" }}</span></p>
      <p></p>
      <p></p>
      <p></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Company 2015</p>
  </footer>
</div> <!-- /container -->   
{% endblock %}